[submodule "lib/parsedatetime"]
	path = lib/parsedatetime
	url = https://github.com/bear/parsedatetime.git
[submodule "lib/alfred-workflow"]
	path = lib/alfred-workflow
	url=https://github.com/idpaterson/alfred-workflow.git
[submodule "lib/peewee"]
	path = lib/peewee
	url = https://github.com/coleifer/peewee.git
[submodule "lib/requests"]
	path = lib/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "lib/dateutil"]
	path = lib/dateutil
	url = https://github.com/dateutil/dateutil.git
