[submodule "lib/qWorkflow"]
	path = lib/qWorkflow
	url = https://github.com/qlassiqa/qWorkflow.git
[submodule "docs"]
	path = docs
	url = git@github.com:idpaterson/alfred-wunderlist-workflow.git
[submodule "lib/Workflows"]
	path = lib/Workflows
	url = https://github.com/jdfwarrior/Workflows.git
[submodule "lib/CFPropertyList"]
	path = lib/CFPropertyList
	url = https://github.com/rodneyrehm/CFPropertyList.git
