commentStyle => background:transparent; color:#919191;
stringStyle => background:transparent; color:#00A33F;
funcNameStyle => background:transparent; color:#21439C;
keywordStyle => background:transparent; color:#FF5600;
typeStyle => background:transparent; color:#21439C;
paramStyle => background:transparent; color:#A535AE;
varStyle => background:transparent; color:#A535AE;
charStyle => background:transparent; color:#A535AE;
numberStyle => background:transparent; color:#A535AE;
preprocessorStyle => background:transparent; color:#236e25
templateStyle => background:transparent; color:#761550;
masterTOCName => index.html