<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ipaterson.alfred.wunderlist</string>
	<key>connections</key>
	<dict>
		<key>0F2D229C-18BA-4E40-A81D-D796A6E159BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F2D229C-18BA-4E40-A81D-D796A6E159BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian Paterson</string>
	<key>description</key>
	<string>Create tasks and lists in Wunderlist 2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wunderlist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --alt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39540B6D-5AA4-4427-BA63-42256009EE5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Wunderlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Preparing workflow</string>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
echo "{query}" &gt; .query
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}"</string>
				<key>subtext</key>
				<string>Type wl to control Wunderlist</string>
				<key>title</key>
				<string>Wunderlist</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F2D229C-18BA-4E40-A81D-D796A6E159BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --cmd</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Readme</string>
	<key>uidata</key>
	<dict>
		<key>0F2D229C-18BA-4E40-A81D-D796A6E159BC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>39540B6D-5AA4-4427-BA63-42256009EE5F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A28E28AD-30A4-4578-87C2-E258E3948B63</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/idpaterson</string>
</dict>
</plist>
