<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ipaterson.alfred.wunderlist</string>
	<key>connections</key>
	<dict>
		<key>06482847-7F21-4C57-88BB-B642E0182781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BD5A678-C27A-4DEC-8170-B71A675AF94E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F5DDFFB-8D34-43DE-8652-8FC47EEDEBFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0BD5A678-C27A-4DEC-8170-B71A675AF94E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>942CDC8D-C24D-4DB7-B085-A1F18CF934F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0F2D229C-18BA-4E40-A81D-D796A6E159BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55076087-BED3-4ED8-A573-23050597BC2B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>No special behavior for the Shift key</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39540B6D-5AA4-4427-BA63-42256009EE5F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>No special behavior for the Alt key</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>No special behavior for the Cmd key</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B21F0AC-FBEB-4269-A007-F3FB0A8D11DE</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>No special behavior for the Ctrl key</string>
			</dict>
		</array>
		<key>39540B6D-5AA4-4427-BA63-42256009EE5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40D1F3AB-A7A4-487C-A0DD-EEB4DCB4A527</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E05D8886-A5A2-4CD7-9C9D-6D8F3CDDEE3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0BD5A678-C27A-4DEC-8170-B71A675AF94E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55076087-BED3-4ED8-A573-23050597BC2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6B21F0AC-FBEB-4269-A007-F3FB0A8D11DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F2D229C-18BA-4E40-A81D-D796A6E159BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian Paterson</string>
	<key>description</key>
	<string>Create tasks and lists in Wunderlist 2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wunderlist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --shift</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55076087-BED3-4ED8-A573-23050597BC2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --alt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39540B6D-5AA4-4427-BA63-42256009EE5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Wunderlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A28E28AD-30A4-4578-87C2-E258E3948B63</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Preparing workflow</string>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
echo "{query}" &gt; .query
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}"</string>
				<key>subtext</key>
				<string>Type wl to control Wunderlist</string>
				<key>title</key>
				<string>Wunderlist</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F2D229C-18BA-4E40-A81D-D796A6E159BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --cmd</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-wunderlist-workflow.py "{query}" --commit --ctrl</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B21F0AC-FBEB-4269-A007-F3FB0A8D11DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>version=${alfred_version:0:1}
cd ~/Library/Application\ Support/Alfred\ $version/Workflow\ Data/com.ipaterson.alfred.wunderlist/ &amp;&amp; rm -f lists.* .lists.* *.lock wunderlist.*
rm -rf ~/Library/Caches/com.runningwithcrayons.Alfred-$version/Workflow\ Data/com.ipaterson.alfred.wunderlist/</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E05D8886-A5A2-4CD7-9C9D-6D8F3CDDEE3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>_wl-reset</string>
				<key>subtext</key>
				<string>Clears stored data and caches while maintaining your preferences</string>
				<key>text</key>
				<string>Partial Reset of Alfred Wunderlist Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40D1F3AB-A7A4-487C-A0DD-EEB4DCB4A527</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/idpaterson/alfred-wunderlist-workflow/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0BD5A678-C27A-4DEC-8170-B71A675AF94E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Please post a support request on GitHub for any recurring problems.</string>
				<key>title</key>
				<string>Workflow has been reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>942CDC8D-C24D-4DB7-B085-A1F18CF934F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>version=${alfred_version:0:1}
rm -rf ~/Library/Application\ Support/Alfred\ $version/Workflow\ Data/com.ipaterson.alfred.wunderlist/
rm -rf ~/Library/Caches/com.runningwithcrayons.Alfred-$version/Workflow\ Data/com.ipaterson.alfred.wunderlist/
security delete-generic-password -s com.ipaterson.alfred.wunderlist -a oauth_token</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F5DDFFB-8D34-43DE-8652-8FC47EEDEBFD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>_wl-full-reset</string>
				<key>subtext</key>
				<string>Clears all stored data, preferences, and authentication token</string>
				<key>text</key>
				<string>Full Reset of Alfred Wunderlist Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>06482847-7F21-4C57-88BB-B642E0182781</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Readme</string>
	<key>uidata</key>
	<dict>
		<key>06482847-7F21-4C57-88BB-B642E0182781</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>0BD5A678-C27A-4DEC-8170-B71A675AF94E</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>0F2D229C-18BA-4E40-A81D-D796A6E159BC</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>0F5DDFFB-8D34-43DE-8652-8FC47EEDEBFD</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>39540B6D-5AA4-4427-BA63-42256009EE5F</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>40D1F3AB-A7A4-487C-A0DD-EEB4DCB4A527</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>55076087-BED3-4ED8-A573-23050597BC2B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6B21F0AC-FBEB-4269-A007-F3FB0A8D11DE</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>942CDC8D-C24D-4DB7-B085-A1F18CF934F7</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>A28E28AD-30A4-4578-87C2-E258E3948B63</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>B17D3A8B-97D1-4CB1-AA34-48754A1CC6F3</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>CB67A7A4-2A1F-4905-990C-5BD07FD51C1C</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>E05D8886-A5A2-4CD7-9C9D-6D8F3CDDEE3F</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>E0AE4F8B-253B-4EFD-B568-E9A2A46AA0C7</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/idpaterson</string>
</dict>
</plist>
